body {
    font-family: Arial, sans-serif; /* Изменение шрифта для всей страницы */
    background-color: #f0f0f0; /* Цвет фона страницы */
    color: #333; /* Цвет текста */
    padding: 20px; /* Отступы вокруг содержимого тела страницы */
}

h2 {
    color: #5a5a5a; /* Цвет заголовков */
}

input[type='number'], input[type='text'] {
    border: 1px solid #ccc; /* Бордюр вокруг элементов ввода */
    padding: 10px; /* Паддинги внутри элементов ввода для удобства */
    margin-right: 10px; /* Отступ с правой стороны каждого input */
}

button {
    padding: 10px 20px; /* Паддинги внутри кнопок */
    background-color: #0d6efd; /* Цвет фона кнопок */
    color: white; /* Цвет текста кнопок */
    border: none; /* Убрать стандартный бордюр кнопок */
    cursor: pointer; /* Курсор в виде руки, указывающий на кликабельность */
}

button:hover {
    background-color: #0a53be; /* Смена цвета фона кнопки при наведении */
}

div#results {
    margin-top: 20px; /* Отступ сверху для блока с результатами */
    padding: 20px; /* Паддинги внутри блока с результатами */
    background-color: #ffffff; /* Белый цвет фона для блока с результатами */
    border-radius: 5px; /* Скругленные углы блока с результатами */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1); /* Тень блока с результатами */
}
